        /*  초기화 코드  */

        * {             /* ' * ' = 모든 것을 선택한다는 의미  */
            margin: 0;
            padding: 0;
            }
    
            body{ 
                font-family: ;  /* link태그를 head태그에 붙여놔야함 (font링크) */
            }
    
            li {list-style-type: none;}     /* list태그의 .(점)을 없애줌 */
            a {text-decoration: none;}      /* a태그의 밑줄(자동으로 생기는 것)을 없애줌 */
            img {border: 0;}        /* img가 가져오는 기본 border값을 없애줌 */